{{- if ne .Env.NGINX_LUA_ENABLED "false" }}
load_module modules/ndk_http_module.so;
load_module modules/ngx_http_lua_module.so;
load_module modules/ngx_http_lua_upstream_module.so;
{{- end }}

{{- if ne .Env.NGINX_NJS_ENABLED "false" }}
load_module modules/ngx_http_js_module.so;
{{- end }}

load_module modules/ngx_http_headers_more_filter_module.so;
load_module modules/ngx_http_vhost_traffic_status_module.so;

worker_processes  auto;

error_log  {{ .Env.NGINX_DEFAULT_ERROR_LOG_PATH }} {{ .Env.NGINX_DEFAULT_ERROR_LOG_LEVEL }};
pid        /app/var/run/nginx/nginx.pid;

events {
    use epoll;
    worker_connections  1024;
    multi_accept on;
}

http {

    server_tokens off;

    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    log_format  main_timed  '$remote_addr - $remote_user [$time_local] "$request" '
                            '$status $body_bytes_sent "$http_referer" '
                            '"$http_user_agent" "$http_x_forwarded_for" '
                            '$request_time $upstream_response_time $pipe $upstream_cache_status';

    server_names_hash_bucket_size {{ .Env.NGINX_SERVER_NAMES_HASH_BUCKET_SIZE }};
    server_names_hash_max_size    {{ .Env.NGINX_SERVER_NAMES_HASH_MAX_SIZE }};

    access_log                    /dev/stdout  main_timed;
    error_log                     {{ .Env.NGINX_DEFAULT_ERROR_LOG_PATH }} {{ .Env.NGINX_DEFAULT_ERROR_LOG_LEVEL }};

    proxy_connect_timeout         {{ .Env.NGINX_PROXY_CONNECT_TIMEOUT }};
    proxy_send_timeout            {{ .Env.NGINX_PROXY_SEND_TIMEOUT }};
    proxy_read_timeout            {{ .Env.NGINX_PROXY_READ_TIMEOUT }};
    proxy_temp_path               {{ .Env.NGINX_PROXY_TEMP_FOLDER_PATH }} {{ .Env.NGINX_PROXY_TEMP_FOLDER_LEVEL1 }} {{ .Env.NGINX_PROXY_TEMP_FOLDER_LEVEL2 }};
    proxy_request_buffering       {{ .Env.NGINX_PROXY_REQUEST_BUFFERING }};

    fastcgi_send_timeout          {{ .Env.NGINX_FASTCGI_SEND_TIMEOUT }};
    fastcgi_read_timeout          {{ .Env.NGINX_FASTCGI_READ_TIMEOUT }};
    fastcgi_temp_path             {{ .Env.NGINX_FASTCGI_TEMP_FOLDER_PATH }} {{ .Env.NGINX_FASTCGI_TEMP_FOLDER_LEVEL1 }} {{ .Env.NGINX_FASTCGI_TEMP_FOLDER_LEVEL2 }};
    fastcgi_cache_path            {{ .Env.NGINX_FASTCGI_CACHE_FOLDER_PATH }}
                                  levels={{ .Env.NGINX_FASTCGI_CACHE_LEVELS }}
                                  keys_zone={{ .Env.NGINX_FASTCGI_CACHE_NAME }}:{{ .Env.NGINX_FASTCGI_CACHE_MEM_SIZE }}
                                  max_size={{ .Env.NGINX_FASTCGI_CACHE_DISK_SIZE }}
                                  inactive={{ .Env.NGINX_FASTCGI_CACHE_INACTIVE }};
    fastcgi_request_buffering     {{ .Env.NGINX_FASTCGI_REQUEST_BUFFERING }};

    sendfile                      {{ .Env.NGINX_SENDFILE }};
    tcp_nopush                    {{ .Env.NGINX_TCP_NOPUSH }};
    tcp_nodelay                   {{ .Env.NGINX_TCP_NODELAY }};

    keepalive_timeout             {{ .Env.NGINX_KEEPALIVE_TIMEOUT }};
    keepalive_requests            {{ .Env.NGINX_KEEPALIVE_REQUESTS }};

    gzip                          {{ .Env.NGINX_GZIP_ENABLED }};
    gzip_disable                  {{ .Env.NGINX_GZIP_DISABLE }};

    gzip_vary                     {{ .Env.NGINX_GZIP_VARY }};
    gzip_proxied                  {{ .Env.NGINX_GZIP_PROXIED }};
    gzip_comp_level               {{ .Env.NGINX_GZIP_COMP_LEVEL }};
    gzip_buffers                  {{ .Env.NGINX_GZIP_BUFFERS_COUNT }} {{ .Env.NGINX_GZIP_BUFFERS_SIZE }};
    gzip_http_version             {{ .Env.NGINX_GZIP_HTTP_VERSION }};
    gzip_min_length               {{ .Env.NGINX_GZIP_MIN_LENGTH }};
    gzip_types                    {{ .Env.NGINX_GZIP_TYPES }};

    large_client_header_buffers   {{ .Env.NGINX_LARGE_CLIENT_HEADER_BUFFERS_COUNT }} {{ .Env.NGINX_LARGE_CLIENT_HEADER_BUFFERS_SIZE }};
    ignore_invalid_headers        {{ .Env.NGINX_IGNORE_INVALID_HEADERS }};

    send_timeout                  {{ .Env.NGINX_SEND_TIMEOUT }};

    client_max_body_size          {{ .Env.NGINX_CLIENT_MAX_BODY_SIZE }};

    client_header_timeout         {{ .Env.NGINX_CLIENT_HEADER_TIMEOUT }};
    client_header_buffer_size     {{ .Env.NGINX_CLIENT_HEADER_BUFFER_SIZE }};

    client_body_timeout           {{ .Env.NGINX_CLIENT_BODY_TIMEOUT }};
    client_body_in_single_buffer  {{ .Env.NGINX_CLIENT_BODY_IN_SINGLE_BUFFER }};
    client_body_in_file_only      {{ .Env.NGINX_CLIENT_BODY_IN_FILE_ONLY }};
    client_body_temp_path         {{ .Env.NGINX_CLIENT_BODY_TEMP_PATH }} {{ .Env.NGINX_CLIENT_BODY_TEMP_FOLDER_LEVEL1 }} {{ .Env.NGINX_CLIENT_BODY_TEMP_FOLDER_LEVEL2 }};

    uwsgi_temp_path               {{ .Env.NGINX_UWSGI_TEMP_PATH }} {{ .Env.NGINX_UWSGI_TEMP_FOLDER_LEVEL1 }} {{ .Env.NGINX_UWSGI_TEMP_FOLDER_LEVEL2 }};
    scgi_temp_path                {{ .Env.NGINX_SCGI_TEMP_PATH }} {{ .Env.NGINX_SCGI_TEMP_FOLDER_LEVEL1 }} {{ .Env.NGINX_SCGI_TEMP_FOLDER_LEVEL2 }};

    vhost_traffic_status_zone;

    server {

      listen       9090;
      listen       unix:/app/var/run/nginx/default.localhost.sock;
      server_name  default.localhost;

      root /app/var/www/html;

      location /metrics {
        access_log off;
        vhost_traffic_status_bypass_stats on;
        vhost_traffic_status_display;
        vhost_traffic_status_display_format prometheus;
      }

      location /vts-status {
        access_log off;
        vhost_traffic_status_bypass_stats on;
        vhost_traffic_status_display;
        vhost_traffic_status_display_format html;
      }

      location = /stub-status {
        access_log off;
        vhost_traffic_status_bypass_stats on;
        allow 127.0.0.1;
        allow all;
        deny all;
        stub_status;
      }

      location ~ ^/(status|ping)$ {
        access_log off;
        allow 127.0.0.1;
        allow all;
        deny all;

        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

        fastcgi_pass unix:/app/var/run/php-fpm/php-fpm.sock;
      }

    }

{{- if ne .Env.NGINX_FASTCGI_CACHE_ENABLED "false" }}
    include conf.d/fastcgi-cache.map;
{{- end }}

    server {

      listen       9000;
      server_name  default.localhost;

      index index.php;

      root /app/var/www/html;

      location ~ \.php$ {
        access_log off;

        try_files $fastcgi_script_name =404;

        fastcgi_split_path_info ^(.+\.php)(/.+)$;

        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;

        include        fastcgi_params;

        fastcgi_pass unix:/app/var/run/php-fpm/php-fpm.sock;

{{- if ne .Env.NGINX_FASTCGI_CACHE_ENABLED "false" }}
        fastcgi_cache        {{ .Env.NGINX_FASTCGI_CACHE_NAME }};
        fastcgi_cache_key    {{ .Env.NGINX_FASTCGI_CACHE_KEY }};
        fastcgi_cache_valid  {{ .Env.NGINX_FASTCGI_CACHE_VALID_OK_CODE }} {{ .Env.NGINX_FASTCGI_CACHE_VALID_OK_DURATION }};
        fastcgi_cache_valid  {{ .Env.NGINX_FASTCGI_CACHE_VALID_NOK_CODE }} {{ .Env.NGINX_FASTCGI_CACHE_VALID_NOK_DURATION }};

        fastcgi_cache_bypass {{ .Env.NGINX_FASTCGI_NO_CACHE_METHOD_MAP_VAR_NAME }} {{ .Env.NGINX_FASTCGI_NO_CACHE_COOKIE_MAP_VAR_NAME }};
        fastcgi_no_cache     {{ .Env.NGINX_FASTCGI_NO_CACHE_METHOD_MAP_VAR_NAME }} {{ .Env.NGINX_FASTCGI_NO_CACHE_COOKIE_MAP_VAR_NAME }};

        add_header X-Cache $upstream_cache_status always;
{{- end }}

      }

    }

    include /opt/etc/nginx/sites-enabled/*.conf;

}

