upload_max_filesize = {{.Env.PHP_UPLOAD_MAX_FILESIZE}}M
post_max_size = {{.Env.PHP_POST_MAX_SIZE}}M

expose_php = {{.Env.PHP_EXPOSE_PHP}}
date.timezone = {{.Env.PHP_DATE_TIMEZONE}}
display_errors = {{.Env.PHP_DISPLAY_ERRORS}}

memory_limit = {{.Env.PHP_MEMORY_LIMIT}}M

opcache.memory_consumption = {{.Env.PHP_OPCACHE_MEMORY_CONSUMPTION}}
opcache.interned_strings_buffer = {{.Env.PHP_OPCACHE_INTERNED_STRINGS_BUFFER}}
opcache.max_accelerated_files = {{.Env.PHP_OPCACHE_MAX_ACCELERATED_FILES}}
opcache.revalidate_freq = {{.Env.PHP_OPCACHE_REVALIDATE_FREQ}}
opcache.fast_shutdown = {{.Env.PHP_OPCACHE_FAST_SHUTDOWN}}

{{- if ne (strings.ToLower .Env.PHP_XDEBUG_MODE) "off" }}

xdebug.mode = {{ .Env.PHP_XDEBUG_MODE }}
xdebug.start_with_request = {{ .Env.PHP_XDEBUG_START_WITH_REQUEST }}
xdebug.client_port = {{ .Env.PHP_XDEBUG_CLIENT_PORT }}
xdebug.client_host = {{ .Env.PHP_XDEBUG_CLIENT_HOST }}

{{- end }}
