{{- if ne (strings.ToLower .Env.PHP_APCU_ENABLED) "false" -}}

apc.coredump_unmap = {{ .Env.PHP_APC_COREDUMP_UNMAP }}
apc.enable_cli = {{ .Env.PHP_APC_ENABLE_CLI }}
apc.enabled = {{ .Env.PHP_APC_ENABLED }}
apc.entries_hint = {{ .Env.PHP_APC_ENTRIES_HINT }}
apc.gc_ttl = {{ .Env.PHP_APC_GC_TTL }}
apc.mmap_file_mask = {{ .Env.PHP_APC_MMAP_FILE_MASK }}
apc.mmap_hugepage_size = {{ .Env.PHP_APC_MMAP_HUGEPAGE_SIZE }}
apc.preload_path = {{ .Env.PHP_APC_PRELOAD_PATH }}
apc.serializer = {{ .Env.PHP_APC_SERIALIZER }}
apc.shm_size = {{ .Env.PHP_APC_SHM_SIZE }}
apc.slam_defense = {{ .Env.PHP_APC_SLAM_DEFENSE }}
apc.smart = {{ .Env.PHP_APC_SMART }}
apc.ttl = {{ .Env.PHP_APC_TTL }}
apc.use_request_time = {{ .Env.PHP_APC_USE_REQUEST_TIME }}

{{- end -}}