{{- if ne (strings.ToLower .Env.PHP_XDEBUG_ENABLED) "false" -}}

xdebug.cli_color = {{ .Env.PHP_XDEBUG_CLI_COLOR }}
xdebug.client_discovery_header = "{{ .Env.PHP_XDEBUG_CLIENT_DISCOVERY_HEADER }}"
xdebug.client_host = "{{ .Env.PHP_XDEBUG_CLIENT_HOST }}"
xdebug.client_port = {{ .Env.PHP_XDEBUG_CLIENT_PORT }}
xdebug.cloud_id = "{{ .Env.PHP_XDEBUG_CLOUD_ID }}"
xdebug.collect_assignments = {{ .Env.PHP_XDEBUG_COLLECT_ASSIGNMENTS }}
xdebug.collect_params = {{ .Env.PHP_XDEBUG_COLLECT_PARAMS }}
xdebug.collect_return = {{ .Env.PHP_XDEBUG_COLLECT_RETURN }}
xdebug.connect_timeout_ms = {{ .Env.PHP_XDEBUG_CONNECT_TIMEOUT_MS }}
xdebug.control_socket = {{ .Env.PHP_XDEBUG_CONTROL_SOCKET }}
xdebug.discover_client_host = {{ .Env.PHP_XDEBUG_DISCOVER_CLIENT_HOST }}
xdebug.dump.COOKIE = "{{ .Env.PHP_XDEBUG_DUMP_COOKIE }}"
xdebug.dump.ENV = "{{ .Env.PHP_XDEBUG_DUMP_ENV }}"
xdebug.dump.FILES = "{{ .Env.PHP_XDEBUG_DUMP_FILES }}"
xdebug.dump.GET = "{{ .Env.PHP_XDEBUG_DUMP_GET }}"
xdebug.dump.POST = "{{ .Env.PHP_XDEBUG_DUMP_POST }}"
xdebug.dump.REQUEST = "{{ .Env.PHP_XDEBUG_DUMP_REQUEST }}"
xdebug.dump.SERVER = "{{ .Env.PHP_XDEBUG_DUMP_SERVER }}"
xdebug.dump.SESSION = "{{ .Env.PHP_XDEBUG_DUMP_SESSION }}"
xdebug.dump_globals = {{ .Env.PHP_XDEBUG_DUMP_GLOBALS }}
xdebug.dump_once = {{ .Env.PHP_XDEBUG_DUMP_ONCE }}
xdebug.dump_undefined = {{ .Env.PHP_XDEBUG_DUMP_UNDEFINED }}
xdebug.file_link_format = "{{ .Env.PHP_XDEBUG_FILE_LINK_FORMAT }}"
xdebug.filename_format = "{{ .Env.PHP_XDEBUG_FILENAME_FORMAT }}"
xdebug.force_display_errors = {{ .Env.PHP_XDEBUG_FORCE_DISPLAY_ERRORS }}
xdebug.force_error_reporting = {{ .Env.PHP_XDEBUG_FORCE_ERROR_REPORTING }}
xdebug.gc_stats_output_name = "{{ .Env.PHP_XDEBUG_GC_STATS_OUTPUT_NAME }}"
xdebug.halt_level = {{ .Env.PHP_XDEBUG_HALT_LEVEL }}
xdebug.idekey = "{{ .Env.PHP_XDEBUG_IDEKEY }}"
xdebug.log = "{{ .Env.PHP_XDEBUG_LOG }}"
xdebug.log_level = {{ .Env.PHP_XDEBUG_LOG_LEVEL }}
xdebug.max_nesting_level = {{ .Env.PHP_XDEBUG_MAX_NESTING_LEVEL }}
xdebug.max_stack_frames = {{ .Env.PHP_XDEBUG_MAX_STACK_FRAMES }}
xdebug.mode = {{ .Env.PHP_XDEBUG_MODE }}
xdebug.output_dir = "{{ .Env.PHP_XDEBUG_OUTPUT_DIR }}"
xdebug.profiler_append = {{ .Env.PHP_XDEBUG_PROFILER_APPEND }}
xdebug.profiler_output_name = "{{ .Env.PHP_XDEBUG_PROFILER_OUTPUT_NAME }}"
xdebug.scream = {{ .Env.PHP_XDEBUG_SCREAM }}
xdebug.show_error_trace = {{ .Env.PHP_XDEBUG_SHOW_ERROR_TRACE }}
xdebug.show_exception_trace = {{ .Env.PHP_XDEBUG_SHOW_EXCEPTION_TRACE }}
xdebug.show_local_vars = {{ .Env.PHP_XDEBUG_SHOW_LOCAL_VARS }}
xdebug.start_upon_error = "{{ .Env.PHP_XDEBUG_START_UPON_ERROR }}"
xdebug.start_with_request = "{{ .Env.PHP_XDEBUG_START_WITH_REQUEST }}"
xdebug.trace_format = {{ .Env.PHP_XDEBUG_TRACE_FORMAT }}
xdebug.trace_options = {{ .Env.PHP_XDEBUG_TRACE_OPTIONS }}
xdebug.trace_output_name = "{{ .Env.PHP_XDEBUG_TRACE_OUTPUT_NAME }}"
xdebug.trigger_value = "{{ .Env.PHP_XDEBUG_TRIGGER_VALUE }}"
xdebug.use_compression = {{ .Env.PHP_XDEBUG_USE_COMPRESSION }}
xdebug.var_display_max_children = {{ .Env.PHP_XDEBUG_VAR_DISPLAY_MAX_CHILDREN }}
xdebug.var_display_max_data = {{ .Env.PHP_XDEBUG_VAR_DISPLAY_MAX_DATA }}
xdebug.var_display_max_depth = {{ .Env.PHP_XDEBUG_VAR_DISPLAY_MAX_DEPTH }}

{{- end -}}