; Resource Limits

memory_limit = {{ .Env.PHP_MEMORY_LIMIT }}

; Language Options

expose_php = {{ .Env.PHP_EXPOSE_PHP }}
disable_functions = {{ .Env.PHP_DISABLE_FUNCTIONS }}

; Runtime Configuration

log_errors = {{ .Env.PHP_LOG_ERRORS }}
error_reporting = {{ .Env.PHP_ERROR_REPORTING }}
ignore_repeated_errors = {{ .Env.PHP_IGNORE_REPEATED_ERRORS }}
ignore_repeated_source = {{ .Env.PHP_IGNORE_REPEATED_SOURCE }}
report_memleaks = {{ .Env.PHP_REPORT_MEMLEAKS }}
max_execution_time = {{ .Env.PHP_MAX_EXECUTION_TIME }}
max_input_time = {{ .Env.PHP_MAX_INPUT_TIME }}
display_errors = {{ .Env.PHP_DISPLAY_ERRORS }}

; Data Handling

arg_separator.output = {{ .Env.PHP_ARG_SEPARATOR_OUTPUT }}
arg_separator.input = {{ .Env.PHP_ARG_SEPARATOR_INPUT }}
variables_order = {{ .Env.PHP_VARIABLES_ORDER }}
request_order = {{ .Env.PHP_REQUEST_ORDER }}
auto_globals_jit = {{ .Env.PHP_AUTO_GLOBALS_JIT }}
register_argc_argv = {{ .Env.PHP_REGISTER_ARGC_ARGV }}
enable_post_data_reading = {{ .Env.PHP_ENABLE_POST_DATA_READING }}
post_max_size = {{ .Env.PHP_POST_MAX_SIZE }}
auto_prepend_file = {{ .Env.PHP_AUTO_PREPEND_FILE }}
auto_append_file = {{ .Env.PHP_AUTO_APPEND_FILE }}
default_mimetype = {{ .Env.PHP_DEFAULT_MIMETYPE }}
default_charset = {{ .Env.PHP_DEFAULT_CHARSET }}
input_encoding = {{ .Env.PHP_INPUT_ENCODING }}
output_encoding = {{ .Env.PHP_OUTPUT_ENCODING }}
internal_encoding = {{ .Env.PHP_INTERNAL_ENCODING }}

; Paths and Directories

include_path = {{ .Env.PHP_INCLUDE_PATH }}
open_basedir = {{ .Env.PHP_OPEN_BASEDIR }}
doc_root = {{ .Env.PHP_DOC_ROOT }}
user_dir = {{ .Env.PHP_USER_DIR }}
user_ini.cache_ttl = {{ .Env.PHP_USER_INI_CACHE_TTL }}
user_ini.filename = {{ .Env.PHP_USER_INI_FILENAME }}
extension_dir = {{ .Env.PHP_EXTENSION_DIR }}
extension = {{ .Env.PHP_EXTENSION }}
zend_extension = {{ .Env.PHP_ZEND_EXTENSION }}
cgi.check_shebang_line = {{ .Env.PHP_CGI_CHECK_SHEBANG_LINE }}
cgi.discard_path = {{ .Env.PHP_CGI_DISCARD_PATH }}
cgi.fix_pathinfo = {{ .Env.PHP_CGI_FIX_PATHINFO }}
cgi.force_redirect = {{ .Env.PHP_CGI_FORCE_REDIRECT }}
cgi.nph = {{ .Env.PHP_CGI_NPH }}
cgi.redirect_status_env = {{ .Env.PHP_CGI_REDIRECT_STATUS_ENV }}
cgi.rfc2616_headers = {{ .Env.PHP_CGI_RFC2616_HEADERS }}
fastcgi.impersonate = {{ .Env.PHP_FASTCGI_IMPERSONATE }}
fastcgi.logging = {{ .Env.PHP_FASTCGI_LOGGING }}

; File Uploads

file_uploads = {{ .Env.PHP_FILE_UPLOADS }}
max_file_uploads = {{ .Env.PHP_MAX_FILE_UPLOADS }}
upload_max_filesize = {{ .Env.PHP_UPLOAD_MAX_FILESIZE }}
upload_tmp_dir = {{ .Env.PHP_UPLOAD_TMP_DIR }}
max_input_nesting_level = {{ .Env.PHP_MAX_INPUT_NESTING_LEVEL }}
max_input_vars = {{ .Env.PHP_MAX_INPUT_VARS }}

; Date/Time Runtime Configuration

date.timezone = {{ .Env.PHP_DATE_TIMEZONE }}
