{{- if ne (strings.ToLower .Env.PHP_OPTL_ENABLED) "false" -}}

extension=opentelemetry.so

opentelemetry.allow_stack_extension = {{ .Env.PHP_OPTL_ALLOW_STACK_EXTENSION }}
opentelemetry.attr_hooks_enabled = {{ .Env.PHP_OPTL_ATTR_HOOKS_ENABLED }}
opentelemetry.attr_post_handler_function = {{ .Env.PHP_OPTL_ATTR_POST_HANDLER_FUNCTION }}
opentelemetry.attr_pre_handler_function = {{ .Env.PHP_OPTL_ATTR_PRE_HANDLER_FUNCTION }}
opentelemetry.conflicts = {{ .Env.PHP_OPTL_CONFLICTS }}
opentelemetry.display_warnings = {{ .Env.PHP_OPTL_DISPLAY_WARNINGS }}
opentelemetry.validate_hook_functions = {{ .Env.PHP_OPTL_VALIDATE_HOOK_FUNCTIONS }}

{{- end -}}
