[program:nginx]
command=nginx -p /app/var/www -e /dev/stdout -c /opt/etc/nginx/nginx.conf -g 'daemon off;'
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0
autorestart=false
startretries=0
